body{
   
        background-image: url('six.jpg'); 
        background-size: cover;
       
        }
    

    .container{
       
            margin-left:80px;
            margin-top: 50px;
            
            width:900px;
        }

.div{
        margin-top: 0px;
}
h2{
        font-size: 50px;
        margin-right: auto;
        color:rgb(14, 26, 71);
        font-family: 'Times New Roman', Times, serif;
}
.form-control{
        size: 5px;
        width: 450px;
}
h3,h4,h5{
        font-family: 'Times New Roman', Times, serif;
        color: black;
}
h1{
        font-family: 'Times New Roman', Times, serif;
        color: white; 
}